@charset "utf-8";

#particles-js02 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

h2 {
  padding-top: 127px;
}

.works_block {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 60px 0px;
}

.works_list li {
  display: flex;
  font-size: 16px;
  border-bottom: 1px solid white;
  padding-top: 21px;
  padding-bottom: 10px;
}
.works1 {
  max-width: 60%;
}

.works_list li:last-child {
  border: none;
}

dt {
  font-weight: bold;
  padding-bottom: 10px;
}

dd {
  line-height: 2.06;
}

.works_list span {
  padding-left: 3em;
}
