@charset "utf-8";

/* cssリセット */
body,
h1,
h2,
h3,
ul,
li,
dl,
dd,
p {
  margin: 0;
  margin: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #4f260b;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MSP明朝",
    "MS 明朝", serif;
  font-feature-settings: "palt";
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

html {
  scroll-behavior: smooth;
}

/* ヘッダー */
.header_wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 7% 0 3%;
  box-sizing: border-box;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  text-align: center;
}

/*スライダー調整*/
.slick-dots {
  bottom: 20px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: #fff;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* ハンバーガー */
.sp_btn,
.sp_nav {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }

  .sp_btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }

  .sp_btn span {
    display: block;
    position: relative;
    top: 10px;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: white;
    transition: 0.3s;
  }

  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    position: absolute;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: white;
    transition: 0.3s;
  }

  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }

  .sp_btn.open span {
    background: transparent;
  }

  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }

  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sp_nav ul li {
    padding: 20px 0;
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }
}

/* メイン */
body {
  background-color: #e8d9bf;
}

.section {
  max-width: 1000px;
  margin: 0 auto;
}

/* h2をabout usやMENUなどのロゴを共通でサイズ指定 */
h2 {
  margin: 0 auto 40px;
}

.concept {
  text-align: center;
}

.concept1 {
  font-size: 30px;
  margin-top: 108px;
}

.concept2 {
  font-size: 82px;
  line-height: 1.17;
  letter-spacing: 0.1em;
  margin-top: 52px;
  margin-bottom: 21px;
}

.concept3 {
  font-size: 23px;
  line-height: 1.65;
  letter-spacing: 0.1em;
}

/* aboutus */
.about {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-top: 100px;
  align-items: flex-start;
}

.about_pic {
  width: 50%;
}

.about_pic img {
  border-bottom-right-radius: 80px;
}

.about_list {
  width: 42%;
  padding-right: 10px;
  box-sizing: border-box;
}

.about h2 {
  width: 287px;
  margin-left: 0;
  margin-top: 68px;
}

.about_list dt {
  font-size: 44px;
  line-height: 1.38;
  margin-bottom: 24px;
}

.about_list dd {
  font-size: 16px;
  line-height: 1.62;
}

.about_pic_sp {
  display: none;
}

/* menu */
.menu {
  padding-top: 108px;
}

.menu h2 {
  width: 151px;
}

.menu_block {
  display: flex;
  justify-content: space-between;
}

.menu_list {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
}

.menu_list li {
  width: 30%;
}

.menu_list img {
  border-top-right-radius: 40px;
}

.menu_list dt {
  font-size: 38px;
  margin-top: -12px;
  padding-left: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  color: #d30202;
}

.menu_list dd {
  font-size: 17px;
  line-height: 1.47;
}

/* gallery */
.gallery {
  padding-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.gallery h2 {
  width: 245px;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-next::before,
.slick-next::after,
.slick-prev::before,
.slick-prev::after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.slick-next::after,
.slick-prev::after {
  width: 15px;
  height: 15px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
}
.slick-next {
  right: 22%;
}
.slick-next::after {
  right: 4px;
  transform: rotate(45deg);
}

.slick-prev {
  left: 22%;
}

.slick-prev::after {
  left: 4px;
  transform: rotate(-135deg);
}

/* event */
.event {
  padding: 60px 10px 0;
}

.event h2 {
  width: 173px;
}

.event_list {
  display: flex;
  justify-content: center;
  padding: 38px;
  border: 3.68px solid#462F0B;
  background-color: white;
  font-size: 23px;
}

.event_block_list + .event_block_list {
  padding-top: 20px;
}

.event_block_list a {
  padding-left: 53px;
  text-decoration: underline;
}

/* sccess */
.access {
  padding-top: 70px;
}

.access h2 {
  width: 213px;
}

.access_block iframe {
  height: 471px;
  display: block;
  width: 100%;
}

/* footer */

footer {
  background-color: white;
  color: black;
  margin: 0 auto;
}

.topback {
  position: fixed;
  width: 125px;
  bottom: 40px;
  right: 40px;
}

.contact {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contact_block {
  padding-top: 80px;
  padding-bottom: 70px;
  font-size: 20px;
  color: black;
  line-height: 1.95;
}

.contact_logo {
  padding-top: 80px;
  padding-right: 70px;
  width: 226px;
}

.copyright {
  text-align: center;
  padding-bottom: 73px;
  color: black;
}

/* 自分memoここからレスポンシブ */
.sp_only {
  display: none;
}

@media screen and (max-width: 1100px) {
  .concept2 {
    font-size: 7vmax;
  }

  .concept3 {
    font-size: 2vmax;
  }

  .about dt {
    font-size: 4vmax;
  }
}

@media screen and (max-width: 767px) {
  .sp_only {
    display: block;
  }
  .pc_only {
    display: none;
  }

  .header_slider img {
    width: 100%;
  }

  .concept1 {
    font-size: 17px;
    margin-top: 40px;
  }

  .concept2 {
    font-size: 38px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-top: 25px;
    margin-bottom: 12px;
  }

  .concept3 {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.1em;
  }

  .about {
    padding-top: 55px;
  }

  .about_pic {
    display: none;
  }
  .about_list {
    width: 100%;
    padding-right: 0;
  }
  .about h2 {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 12px;
  }

  .about_pic_sp {
    display: block;
  }

  .about_pic_sp img {
    width: 100%;
  }

  .about dt {
    font-size: 36px;
    margin-top: 36px;
    line-height: 1.25;
    padding: 0 20px;
  }
  .about_list dd {
    padding: 0 20px;
  }

  .menu {
    padding-top: 40px;
  }

  .menu h2 {
    width: 87px;
    margin-bottom: 15px;
  }

  .menu_block {
    display: block;
  }

  .menu_list {
    display: block;
    padding: 0 36px;
  }

  .menu_list li {
    width: 100%;
  }

  .menu_list img {
    width: 100%;
  }

  .menu_list dt {
    padding-bottom: 25px;
    font-size: 40px;
  }
  .menu_list dd {
    font-size: 17px;
    line-height: 1.58;
    padding-bottom: 60px;
  }

  .gallery {
    padding-top: 40px;
  }

  .gallery h2 {
    width: 142px;
    margin-bottom: 15px;
  }

  .gallery_list {
    display: block;
    width: 100%;
  }

  .gallery_list {
    width: 100%;
  }

  .gallery_list img {
    width: 100%;
  }

  .slick-next {
    right: 5%;
  }

  .slick-prev {
    left: 5%;
  }

  .event {
    padding: 27px 20px 0;
  }

  .event h2 {
    width: 100px;
    margin-bottom: 15px;
  }

  .event_list {
    display: block;
    padding: 20px 28px;
    font-size: 16px;
  }

  .event_block_list {
    line-height: 1.2;
  }

  .event_block_list a {
    display: block;
    padding-left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .access {
    padding-top: 40px;
  }

  .access h2 {
    width: 124px;
    margin-bottom: 15px;
  }

  .access_block iframe {
    height: 190px;
  }

  .topback {
    width: 100px;
  }

  .contact {
    display: block;
    padding-left: 22px;
    font-size: 18px;
  }
  .contact_block {
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 36px;
    line-height: 1.72;
  }

  .contact_logo {
    width: 226px;
    padding-top: 40px;
  }

  .copyright {
    font-size: 16px;
    padding-bottom: 22px;
  }
}
